<!DOCTYPE html>
<!--

		 ______                           __                
		/\  _  \                         /\ \               
		\ \ \L\ \  _____      __      ___\ \ \___      __   
		 \ \  __ \/\ '__`\  /'__`\   /'___\ \  _ `\  /'__`\ 
		  \ \ \/\ \ \ \L\ \/\ \L\.\_/\ \__/\ \ \ \ \/\  __/ 
		   \ \_\ \_\ \ ,__/\ \__/.\_\ \____\\ \_\ \_\ \____\
		    \/_/\/_/\ \ \/  \/__/\/_/\/____/ \/_/\/_/\/____/
		             \ \_\                                  
		              \/_/                                  
                                                    
		       /'\_/`\                                      
		      /\      \     __    ____    ___     ____      
		      \ \ \__\ \  /'__`\ /',__\  / __`\  /',__\     
		       \ \ \_/\ \/\  __//\__, `\/\ \L\ \/\__, `\    
		        \ \_\\ \_\ \____\/\____/\ \____/\/\____/    
		         \/_/ \/_/\/____/\/___/  \/___/  \/___/     

-->
<html>
    <head>
        <meta charset="utf-8">
        <title><%= current_page.data.title %></title>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta name="description" content="">
		    <meta name="author" content="">

		    <!-- Le styles -->
				<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		    <%#= stylesheet_link_tag 'bootstrap.min.css' %>
		    <%= stylesheet_link_tag 'main.css' %>
			<% if current_page.url == '/' %>
				<!-- Optimizely -->
				<script src="//cdn.optimizely.com/js/585950013.js"></script>
			<% end %>
			
			<!-- Google Analytics Magic -->
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-20226872-1']);
			  _gaq.push(['_setDomainName', 'apache.org']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
    </head>
    <body>			
			<!-- navbar excitement -->
	    <div class="navbar navbar-static-top" role="navigation">
	      <div class="navbar-inner">
	        <div class="container">
						<a href="/" class="logo"><img src="/assets/img/mesos_logo.png" alt="Apache Mesos logo" /></a>
					<div class="nav-collapse">
						<ul class="nav nav-pills navbar-right">
						  <li><a href="/gettingstarted/">Getting Started</a></li>
						  <li><a href="/documentation/latest/">Documentation</a></li>
						  <li><a href="/downloads/">Downloads</a></li>
						  <li><a href="/community/">Community</a></li>
						</ul>
					</div>
	        </div>
	      </div>
	    </div><!-- /.navbar -->

      <div class="container">

			<!-- magical breadcrumbs -->
			<ul class="breadcrumb">
			  <li>
					<div class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apache Software Foundation <b class="caret"></b></a>
					  <ul class="dropdown-menu" role="menu">
							<li><a href="http://www.apache.org">Apache Homepage</a></li>
							<li><a href="http://www.apache.org/licenses/">License</a></li>
					  	<li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>  
					  	<li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
							<li><a href="http://www.apache.org/security/">Security</a></li>
					  </ul>
					</div>
				</li>
				<li><a href="http://mesos.apache.org">Apache Mesos</a></li>
				<% if current_page.data.breadcrumb %>
				<li><a href="/<%= current_page.data.breadcrumb.delete(' ').downcase %>/"><%= current_page.data.breadcrumb %></a></li>
				<% elsif content_for?(:page_title) %>
				<% if yield_content(:page_title) == "Documentation" %>
					<li><a href="/documentation/latest/"><%= yield_content :page_title %></a></li>
				<% else %>
					<li><a href="/<%= yield_content(:page_title).downcase %>/"><%= yield_content :page_title %></a></li>
				<% end %>
				<% end %>
			</ul><!-- /breadcrumb -->

			<%= yield %>
			
	      <hr>

				<!-- footer -->
	      <div class="footer">
	        <p>&copy; 2012-2013 <a href="http://apache.org">The Apache Software Foundation</a>.
	        Apache Mesos, the Apache feather logo, and the Apache Mesos project logo are trademarks of The Apache Software Foundation.<p>
	      </div><!-- /footer -->

	    </div> <!-- /container -->

	    <!-- JS -->
	    <%= javascript_include_tag '/assets/js/jquery-1.10.1.min.js' %>
	    <%= javascript_include_tag '/assets/js/bootstrap.js' %>
	    <%= javascript_include_tag '/assets/js/bootstrap-dropdown.js' %>
    </body>
</html>